h1, .brand {
    font-family: 'ZCOOL XiaoWei', serif;
}
.container {
    max-width: 850px;
}
#mainCont {
    position: relative;
    top: 65px;
}
#mainContMoveDown {
    position: relative;
    top: 150px;
}